*{
    box-sizing: border-box;
}

body{
    background-image: url("../images/home/background-home-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    height:100vh;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.header-bar{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}