*{
    box-sizing: border-box;
}

body{
    background-image: url("../images/home/background-home-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    height:100vh;
}

nav ul{
    display: flex;
    grid-area: nav-links;
    justify-content: space-evenly;
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}

.header-bar{
    display: grid;
    grid-template-areas: "logo nav-links"
}

.logo{
    grid-area: logo;
}

.fa-times {
    display: none;
}